<div class="container-fluid text-center">
<h1 class="texte-bienvenue mt-5">Interface administrateur</h1>
<%=link_to "Gérer les utilisateurs", admin_users_path, class: "btn btn-outline-warning btn-l mt-5" %>
<%=link_to "Gérer les événements", admin_events_path, class: "btn btn-outline-warning btn-l mt-5" %>

</div>
