    <div class="card-body text-center">
      <ul class="card-body-left">
      <h1>Espace administrateur</h1>
      <%= link_to "Modifier l'évenement", edit_event_path(params['event_id']), class: "btn btn-outline-warning btn-l"%> 
        <h3 class="card-title"></h3>
        <br>
        <h3>Liste des participants</h3>
        <%@attendances.each do |u|%>
        <%=u.user.email%><br>
        <%end%>
      </ul>
    </div>
