<div class="container-fluid text-center">
<h3>Vous venez de payer <%=@event.price%>$ pour vous inscrire à "<%=@event.title%>".</h3>
<%= link_to "Retour à l'accueil", root_path, class: "btn btn-outline-warning btn-m" %>
</div>